@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

.wrapper{
    background-color: #4682B4;
}
.information{
    color: white;
}
.about{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}